flows.json
[
    {
        "id": "6705bbb95f3252fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "289a27507fb48f90",
        "type": "group",
        "z": "6705bbb95f3252fd",
        "name": "Input",
        "style": {
            "label": true
        },
        "nodes": [
            "c2f5c11bd2d0da4d",
            "51584db6980c1f5a",
            "741c254551d25eaa",
            "71b3fea8f5cfa766",
            "1e7b1c0c85ee8581",
            "14ee70aaa981fe68",
            "847ba2ae7bb5c2d8",
            "f45716bacfc54c28"
        ],
        "x": 114,
        "y": 139,
        "w": 312,
        "h": 382
    },
    {
        "id": "b2946fec93a18c24",
        "type": "group",
        "z": "6705bbb95f3252fd",
        "name": "Output",
        "style": {
            "label": true
        },
        "nodes": [
            "f8654d14b6d6374c",
            "86266820fde506d9",
            "ce390bfb91dadf76",
            "7d3c975342dd7c57",
            "16aaff28b758dcaa"
        ],
        "x": 774,
        "y": 139,
        "w": 292,
        "h": 382
    },
    {
        "id": "69b8262d1a3bba40",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce312c8a6e8734f6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fceac92883eed5ce",
        "type": "ui_group",
        "name": "Input",
        "tab": "69b8262d1a3bba40",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6603a94ad0a668e",
        "type": "ui_group",
        "name": "Output",
        "tab": "69b8262d1a3bba40",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a737e2ff842c331d",
        "type": "ui_group",
        "name": "Function",
        "tab": "69b8262d1a3bba40",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2f5c11bd2d0da4d",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Diametro espira (D_espira)",
        "label": "Diametro espira [mm]",
        "tooltip": "mm",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "339ec95935cf7ee7"
            ]
        ]
    },
    {
        "id": "51584db6980c1f5a",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Diametro exterior (D_exterior)",
        "label": "Diametro exterior [mm]",
        "tooltip": "mm",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "f9659620c6d7b24d"
            ]
        ]
    },
    {
        "id": "741c254551d25eaa",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Modulo de Cortante (G)",
        "label": "Modulo de Cortante [kpsi]",
        "tooltip": "kpsi",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "e64e4f23fb11ceaa"
            ]
        ]
    },
    {
        "id": "71b3fea8f5cfa766",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Número Espiras Activas (Na)",
        "label": "Número Espiras Activas",
        "tooltip": "",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "5ea9b80ab7aaa5d1"
            ]
        ]
    },
    {
        "id": "1e7b1c0c85ee8581",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Diametro Boquilla (D_boquilla)",
        "label": "Diametro Boquilla [mm]",
        "tooltip": "mm",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "6e1e9862400e9cdc"
            ]
        ]
    },
    {
        "id": "f8654d14b6d6374c",
        "type": "ui_text",
        "z": "6705bbb95f3252fd",
        "g": "b2946fec93a18c24",
        "group": "f6603a94ad0a668e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Diametro espira [in]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "86266820fde506d9",
        "type": "ui_text",
        "z": "6705bbb95f3252fd",
        "g": "b2946fec93a18c24",
        "group": "f6603a94ad0a668e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Diametro exterior [in]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "ce390bfb91dadf76",
        "type": "ui_text",
        "z": "6705bbb95f3252fd",
        "g": "b2946fec93a18c24",
        "group": "f6603a94ad0a668e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Modulo de Cortante [Mpsi]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "339ec95935cf7ee7",
        "type": "function",
        "z": "6705bbb95f3252fd",
        "name": "function 1",
        "func": "msg.payload = msg.payload / 25.4\nflow.set(\"D_espira_in\", msg.payload)\nreturn msg;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "f9659620c6d7b24d",
        "type": "function",
        "z": "6705bbb95f3252fd",
        "name": "function 2",
        "func": "msg.payload=msg.payload/25.4\nflow.set(\"D_exterior_in\",msg.payload)\nreturn msg;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "6e1e9862400e9cdc",
        "type": "function",
        "z": "6705bbb95f3252fd",
        "name": "function 3",
        "func": "var D_boquilla_in = msg.payload / 25.4\nvar R_boquilla_in = D_boquilla_in / 2\nvar A_boquilla_in2 = Math.pow(R_boquilla_in, 2) * Math.PI\n\nflow.set(\"D_boquilla_in\", D_boquilla_in)\nflow.set(\"R_boquilla_in\", R_boquilla_in)\nflow.set(\"A_boquilla_in2\", A_boquilla_in2)",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "7d3c975342dd7c57",
        "type": "ui_text",
        "z": "6705bbb95f3252fd",
        "g": "b2946fec93a18c24",
        "group": "f6603a94ad0a668e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "K Resorte 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "16aaff28b758dcaa",
        "type": "ui_text",
        "z": "6705bbb95f3252fd",
        "g": "b2946fec93a18c24",
        "group": "f6603a94ad0a668e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "K Resorte 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "c36dfc6554aea7ba",
        "type": "function",
        "z": "6705bbb95f3252fd",
        "name": "function 4",
        "func": "var G_kpsi = flow.get('G_kpsi')\nvar D_espira_in = flow.get('D_espira_in')\nvar D_exterior_in = flow.get('D_exterior_in')\nvar Na = flow.get('Na')\nvar var1 = Math.pow(D_espira_in, 4) * G_kpsi\nvar var2 = Math.pow(D_exterior_in, 3) * Na * 8\nvar K_1 = var1 / var2\nvar K_2 = K_1 * 1000\nflow.set('K_1', K_1)\nflow.set('K_2', K_2)",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "5ea9b80ab7aaa5d1",
        "type": "change",
        "z": "6705bbb95f3252fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Na",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1f3ea68fe2179f83",
        "type": "ui_button",
        "z": "6705bbb95f3252fd",
        "name": "",
        "group": "a737e2ff842c331d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "14ee70aaa981fe68",
        "type": "ui_button",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calculate K Resortes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "c36dfc6554aea7ba"
            ]
        ]
    },
    {
        "id": "e64e4f23fb11ceaa",
        "type": "change",
        "z": "6705bbb95f3252fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "G_kpsi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bd11c10e09facedf",
        "type": "inject",
        "z": "6705bbb95f3252fd",
        "name": "Input Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "ba5818ab88fc5251"
            ]
        ]
    },
    {
        "id": "4da9cd22d77ad07d",
        "type": "python3-function",
        "z": "6705bbb95f3252fd",
        "name": "",
        "func": "import pandas as pd\n\n \nreturn msg",
        "outputs": 1,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "c08111261a16cedd"
            ]
        ]
    },
    {
        "id": "c08111261a16cedd",
        "type": "debug",
        "z": "6705bbb95f3252fd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 600,
        "wires": []
    },
    {
        "id": "ba5818ab88fc5251",
        "type": "function",
        "z": "6705bbb95f3252fd",
        "name": "function 5",
        "func": "msg.payload = {}\nvar keys = flow.keys()\nfor (let i = 0; i < keys.length; i++) {\n    msg.payload[keys[i]] = flow.get(keys[i])\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "4da9cd22d77ad07d"
            ]
        ]
    },
    {
        "id": "847ba2ae7bb5c2d8",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Deflexión Activa (Def_act)",
        "label": "Deflexión Activa",
        "tooltip": "",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "c1286f81de88e08a"
            ]
        ]
    },
    {
        "id": "c1286f81de88e08a",
        "type": "change",
        "z": "6705bbb95f3252fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Def_act",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f45716bacfc54c28",
        "type": "ui_text_input",
        "z": "6705bbb95f3252fd",
        "g": "289a27507fb48f90",
        "name": "Set Pressure (set_pressure)",
        "label": "Set Pressure",
        "tooltip": "",
        "group": "fceac92883eed5ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "6f55b443bc03bd51"
            ]
        ]
    },
    {
        "id": "6f55b443bc03bd51",
        "type": "change",
        "z": "6705bbb95f3252fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "set_pressure",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    }
]